{% extends 'base.html' %}
{% block title %} Главная {% endblock title %}
{% block content %}

{% from "_formhelpers.html" import render_field %}
<div class="container">
<form method=post enctype="multipart/form-data">
    <dl>
        {{ render_field(form.name) }}
        {{ render_field(form.title) }}
        {{ render_field(form.price) }}
        {{ render_field(form.category) }} <a href={{url_for("add_category")}}>Добавить категорию</a>

        {{ render_field(form.image_poster) }}
        {{ render_field(form.image_shots) }}
        {{ render_field(form.description) }}
        {{ render_field(form.stock) }}
    </dl>
    <p><input type=submit value=Register>
</form>
</div>
{% endblock content %}

