{% extends 'base.html' %}
{% block title %} {{title}} {% endblock title %}
{% block content %}
        <div class="col mb-3">
                
                <h1>Принявшие участие в проекте</h1>
                <ul>
                  <li><p>Лид:    @statz </p></li>
                  <li><p>Джун_1: @OopswOops </p></li>
                  <li><p>Джун_2: @SammelsFavillion </p></li>
                </ul> 
        </div>
<h1>Мы пришли сюда, чтобы сделать красиво.</h1>s
                    
{% endblock content %}
