{% extends 'base.html' %}
{% block title %}  {% endblock title %}
{% block content %}
    <section class="py-5">
        <div class="container px-4 px-lg-5 mt-5">
              <title>{{ title }}</title>
  </head>
  <body>
    <a href="{{url_for('all_product')}}"> Домой</a>
    <h1>Вход</h1>
    <!-- Форма входа
    -->
    <form action=" {{url_for('all_product')}} "method="post" >
      {{form.hidden_tag()}}
      <p>
        {{form.username.label}}<br>
        {{form.username}}
      </p>
      <p>
        {{form.password.label}}<br>
        {{form.password}}
      </p>
      <p>{{form.submit}}</p>
    </form>
    <a href="{{url_for('registration')}}">Нет учетной записи? Регистрируйся! </a>
        </div>
    </section>
{% endblock content %}


