<footer class="p-3 bg-dark text-white footer-dawn">
    <div class="container">
        <div class="d-flex flex-wrap align-items-center justify-content-center justify-content-lg-start">
            <div class="row">
                <div class="col-md-4 col-sm-6 col-xs-6" style="width: 224px;">
                    <div>ДОСТАВКА И ОПЛАТА</div>
                    <ul class="list-group list-group-flush">
                        <li class="list-group-item"><a class="footer-a" href="{{url_for('pay_form')}}">Способы оплаты</a></li>
                        <li class="list-group-item"><a class="footer-a" href="{{url_for('deliver_form')}}">Службы доставки</a></li>
                        <li class="list-group-item"><a class="footer-a" href="{{url_for('shop_address')}}">Адреса магазинов</a></li>
                    </ul>
                </div>
                <div class="col-md-4 col-sm-6 col-xs-6" style="width: 224px;">
                    <div>ПОКУПАТЕЛЯМ</div>
                    <ul class="list-group list-group-flush">
                        <li class="list-group-item"><a class="footer-a" href="{{url_for('choose_the_game')}}">Подобрать игру</a></li>
                        <li class="list-group-item"><a class="footer-a" href="{{url_for('site_help')}}">Помощь</a></li>
                        <li class="list-group-item"><a class="footer-a" href="{{url_for('bonus_programm')}}">Бонусная программа</a></li>
                    </ul>
                </div>
                <div class="col-md-4 col-sm-6 col-xs-6" style="width: 224px;">
                    <div>ОБЩАЯ ИНФОРМАЦИЯ</div>
                    <ul class="list-group list-group-flush">
                        <li class="list-group-item"><a class="footer-a" href="{{url_for('shop_info')}}">О магазине</a></li>
                        <li class="list-group-item"><a class="footer-a" href="{{url_for('shop_news')}}">Новости</a></li>
                        <li class="list-group-item"><a class="footer-a" href="{{url_for('shop_contacts')}}">Контакты</a></li>
                    </ul>
                </div>
                <div class="col-md-4 col-sm-6 col-xs-6" style="width: 224px;">
                    <div>СОЦ. СЕТИ</div>
                    <ul class="list-group list-group-flush">
                        <li class="list-group-item"><a class="footer-a" href="{{url_for('redirect_links')}}">
                            <img src="https://img.icons8.com/fluency/48/000000/instagram-new.png"/>
                        </a></li>
                        <li class="list-group-item"><a class="footer-a" href="{{url_for('redirect_links')}}">
                            <img src="https://img.icons8.com/color/48/000000/facebook.png"/>
                        </a></li>
                        <li class="list-group-item"><a class="footer-a" href="{{url_for('redirect_links')}}">
                            <img src="https://img.icons8.com/color/48/000000/vkontakte.png"/>
                        </a></li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</footer>

